/* Navigation Bar design */

.menu{
    display: flex;
    background-color: #222;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: linear-gradient(rgb(48, 48, 48) 13%, rgb(30, 30, 30) 40%, #0c0d11 86%);
    color: firebrick;
    cursor: pointer;
    text-shadow: 0 -2px 0 black;;
    box-shadow: 1px 2px 4px firebrick, 0 4px 12px rgb(169, 169, 169);
    justify-content:center;
    margin-bottom: 30px;
}

.menutag{
    font-size: large;
    min-width: 120px;
    transition: all 80ms ease;
    padding: 1ch;
    color: firebrick;
    margin:auto;

    &.active{
        color: firebrick;
        text-shadow: 0 0 3px black;
    }

    &:not(.active):hover{
        color: rgba(255, 0, 0, 0.829);
    }
}

.menutag:hover{
    font-size: larger;
    transition-property: font-size;
    transition-duration: 0.2s;
}

/* Specific elements */

.rulebox{
    display:inline-table;
    height: 500px;
    width: 340px;
    background-color: rgba(255, 0, 0, 0.09);
    padding: 3px;
    border: 1px solid black;
    margin-right: 50px;
    border-radius: 50px;
    box-shadow: 0px 2px 6px goldenrod, 0px 3px 8px rgb(169, 169, 169);
}

/* Button simple animation (expand) */

.button{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background: darkgrey;
    color: firebrick;
    font-weight: bolder;
    position: relative;
    transition-property: background-color;
    transition-duration: 0.4s;
    text-shadow: 0 0 0px;
}

.button:hover{
    color: darkgrey;
    background-color: firebrick;
    transition-property: padding,background-color;
    transition-duration: 0.4s;
    padding: 9px;
}

/* Make box flip and character introduction*/

.grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 140px;
    grid-row-gap: 80px;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
}
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }

.flipcard{
    display: inline-table;
    perspective: 1000px;
    height: 400px;
    width: 320px;
    font-size: small;
}

.flipcard-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background-color: lightgray;
    border: 3px solid firebrick;
    border-radius: 20px;
}

.flipcard:hover .flipcard-inner{transform: rotateY(180deg);}

.flipcard-front, .flipcard-back{
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flipcard-back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* Classes. ID# Multiuse */

.center-text{text-align: center;}

.center-img{display: block; margin-left: auto; margin-right: auto;}

.bold{font-weight: bold;}

.sitebg{
    display: float;
    background-color: #222;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 20px;
    margin-bottom: 180px;
    padding: 80px;
    border: 1px solid firebrick;
    border-radius: 15px;
    box-shadow: 0px 4px 12px firebrick, 0px 5px 32px rgb(169, 169, 169);
}

#black-border{
    border: 2px solid black;
    border-radius: 50px;
}

/* General Changes */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #ff880073;
    margin-left: 0px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
}

a{text-decoration: none;}

p{text-align: left;}

li{
    text-align: left;
    font-size: 13px;
}

h1{
    font-family: Cinzel Decorative;
    color: firebrick;
    font-weight: light;
    text-shadow: 0 0 3px transparent, 0 0 10px rgba(0,0,0,.95);
    font-size: 2rem;
    line-height: 1.2;
}

h2{
    font-family: Byzantine-Normal;
    color: firebrick;
    font-weight: lighter;
    text-shadow: 0 0 3px transparent, 0 0 2.5px rgba(0,0,0,.95);
    font-size: 2rem;
    line-height: 1.2;
}

h4{
    font-family: Cinzel Decorative;
    color: firebrick;
    font-weight: light;
    text-shadow: 0 0 3px transparent, 0 0 1.5px rgba(0,0,0,.95);
    font-size: 1.1rem;
    line-height: 1.2;
}

hr{
    height: 4px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right ,firebrick, gray);
    margin-left: 50px;
    margin-right: 50px;
}

footer{
    font-size: small;
}

/* Smaller Screen Support */

@media (max-width: 600px){

}

/* test.html content */

.gridt{
    display: grid;
    grid-template: auto auto auto;
    grid-gap: 40px;
}