.red-text{color: red;}

.center-text{text-align: center;}

.center-img{display: block; margin-left: auto; margin-right: auto;}

.bold{ font-weight: bolder;}

#black-border{border: 5px solid black;}

#menu{border-radius: 8px; padding: 5px; border:1px solid black}

*{font-family: Verdana, Geneva, Tahoma, sans-serif;}