.center-text{text-align: center;}

.center-img{display: block; margin-left: auto; margin-right: auto;}

.bold{font-weight: bold;}

#black-border{border: 2px solid black;}

a{text-decoration: none;}

p{text-align: left;}

li{text-align: left;}

.menu{
    display: flex;
    background-color: #222;
    border-radius: 6px;
    background-image: linear-gradient(rgb(48, 48, 48) 13%, rgb(30, 30, 30) 40%, #0c0d11 86%);
    color: firebrick;
    cursor: pointer;
    text-shadow: 0 -2px 0 black;;
    box-shadow: 1px 2px 4px firebrick, 0 4px 12px rgb(169, 169, 169);
}

.menutag{
    flex-direction: row-reverse;
    font-size: large;
    line-height: 1rem;
    align-items: center;
    min-width: 120px;
    justify-content: space-between;
    transition: all 80ms ease;
    padding: 1ch;
    box-sizing: border-box;
    place-items: center;
    color: firebrick;

    &.active{
        color: firebrick;
        text-shadow: 0 0 3px black;
    }

    &:not(.active):hover{
        color: rgba(255, 0, 0, 0.89);
    }

    &:not(:first-of-type){
        border-left: 2px solid black;
    }

    &:not(:last-of-type){
        border-right: 0.1rem solid black;
    }
}

body{
    background-color: #ff880073;
    margin: 0px;
    padding: 0px;
}

hr{
    height: 4px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right ,firebrick, gray);
} 

h1{
    font-family: Cinzel Decorative;
    color: firebrick;
    font-weight: light;
    text-shadow: 0 0 3px transparent, 0 0 10px rgba(0,0,0,.95);
    font-size: 2rem;
    line-height: 1.2;
}

h2{
    font-family: Byzantine-Normal;
    color: firebrick;
    font-weight: lighter;
    text-shadow: 0 0 3px transparent, 0 0 2.5px rgba(0,0,0,.95);
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 8px;
}

h4{
    font-family: Cinzel Decorative;
    color: firebrick;
    font-weight: light;
    text-shadow: 0 0 3px transparent, 0 0 1.5px rgba(0,0,0,.95);
    font-size: 1.1rem;
    line-height: 1.2;
}

.charbox{
    height: 620px;
    width: 390px;
    background-color: lightgray;
    padding: 10px;
    border: 3px solid firebrick;
    margin-right: 50px;
    display: inline-table;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: small;
}

.charbox:hover{
    border: 5px solid firebrick;
    transition-property: border;
    transition-duration: 0.1s;
}

.rulebox{
    height: 500px;
    width: 340px;
    background-color: lightgray;
    padding: 3px;
    border: 3px solid firebrick;
    margin-right: 50px;
    display:inline-table;
}

.button{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background: darkgrey;
    color: firebrick;
    font-weight: bolder;
    position: relative;
    transition-property: background-color;
    transition-duration: 0.4s;
    text-shadow: 0 0 0px;
}

.button:hover{
    color: darkgrey;
    background-color: firebrick;
    transition-property: padding,background-color;
    transition-duration: 0.4s;
    padding: 9px;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}