.center-text{text-align: center;}

.center-img{display: block; margin-left: auto; margin-right: auto;}

.bold{ font-weight: bold;}

#black-border{border: 2px solid black;}

.charbox{
    height: 600px;
    width: 500px;
    background-color: lightgray;
    padding: 3px;
    border: 3px solid firebrick;
    margin-right: 50px;
    display: inline-table;
    margin-bottom: 20px;
    
}

.charbox:hover{
    border: 5px solid firebrick;
    transition-property: border;
    transition-duration: 0.1s;
}

.rulebox{
    height: 500px;
    width: 340px;
    background-color: lightgray;
    padding: 3px;
    border: 3px solid firebrick;
    margin-right: 50px;
    display:inline-table;
}

.button{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background: darkgrey;
    color: firebrick;
    font-weight: bolder;
    position: relative;
    transition-property: background-color;
    transition-duration: 0.4s;
}

.button:hover{
    color: darkgrey;
    background-color: firebrick;
    transition-property: padding,background-color;
    transition-duration: 0.4s;
    padding: 9px;
}

*{font-family: Verdana, Geneva, Tahoma, sans-serif;}
